/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Delius&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --primary-bg: #191919;
  --primary-text: #ffffff;
  --secondary-text: #d3c7c2;
  --disabled: #595452;
  --accent-color: #86D293;
  --highlight-color: #F99417;
  --secondary-bg: #212020;
  --card-bg: #2a2929;
  --overlay-bg: #191919cc;
  --border:  #2a2929;
  --border-radius: 0.8rem;
  --font: "Lexend Deca", serif;;

}

html,
body {
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-bg); /* Apply the background color you want */
  color: var(--primary-text);
  overflow-x: hidden; /* Prevents horizontal scrolling if necessary */
}

.MuiButton-root {
  text-transform: none !important; /* Disable text-transform for all MUI buttons */
  font-family: var(--font) !important;
  font-size: 0.9rem !important;
  border-radius: var(--border-radius) !important;
}

.MuiButton-root:hover {
  opacity: 0.9 !important;
}

.MuiTypography-root {
  font-family: var(--font) !important;
}

.MuiInputBase-root {
  font-family: var(--font) !important;
}

.MuiCssBaseline-root {
  font-family: var(--font) !important;

}

