---
import Header from '../components/header_footer/Header.jsx';
import Footer from '../components/header_footer/Footer.jsx';
import DashboardComponent from '../components/dashboard/Dashboard.jsx'; // Dashboard is a React component
import EventFormComponent from '../components/event/EventForm.jsx'; // EventForm is a React component
import "../styles/global.css";
import "../styles/animations.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <!-- Container that ensures the footer appears at the bottom -->
    <div style="min-height: 100vh; display: flex; flex-direction: column;">
      <!-- Header stays at the top -->
      <Header client:only="react" activePage="dashboard" />

      <EventFormComponent client:only="react" />
      
      
      <!-- Footer at the bottom -->
      <Footer client:only="react" />
    </div>
  </body>
</html>