---
import { Button, Container, Typography } from '@mui/material';
---

<Container component="div" maxWidth="sm" client:only>
    <Typography variant="h1" sx={{ mb: 4 }} client:only>
      Welcome to Movie Night
    </Typography>
    <Typography variant="body1" sx={{ mb: 4 }} client:only>
      Organize events, invite friends, and vote for your favorite movies in real time!
    </Typography>
    <Button variant="contained" color="primary" client:only>
      Get Started
    </Button>
  </Container>