---
import { BrowserRouter } from "react-router-dom";
import Header from "../components/header_footer/Header";
import Hero from "../components/index/Hero";
import Features from "../components/index/Features";
import Footer from "../components/header_footer/Footer";
import { Container } from "@mui/material";
import "../styles/global.css";
import "../styles/animations.css"; // Importing the animations CSS file
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Night</title>
  </head>
  <body class="fade-in">
    <Header activePage="home" client:only="react" />
    <Container sx={{ mt: 8 }} className="slide-in" client:only="react">
      <Hero client:only="react" />
      <Features client:only="react" />
    </Container>
    <Footer client:only="react" />
  </body>
</html>
