---
import Header from "../components/Header";
import Hero from "../components/Hero";
import Features from "../components/Features";
import Footer from "../components/Footer";
import { Container } from "@mui/material";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Night</title>
  </head>
  <body>
    <Header client:only="react" />
    <Container sx={{ mt: 8 }} client:only="react">
      <Hero client:only="react" />

      <Features client:only="react" />
    </Container>

    <Footer client:only="react" />
  </body>
</html>
